# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Archivos compilados de Lua (PZ lee el texto plano, pero por las dudas)
luac.out
*.luac

# Configuraciones y caché de Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# Archivos ocultos de Windows y macOS
Thumbs.db
desktop.ini
.DS_Store

# Archivos temporales o de respaldo que generan algunos editores
*.bak
*.swp
*~
*.log
